@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
     *{
        margin: 0;
        padding: 0;
        border: 0 ;

    }
     .square{
        background-color: red;
        width: 250px;
        height: 250px;
     }  
      body {
          background-color: #252525;}
          
